// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
  padding: 0 24px;

}
h1 {
font-weight: 400;
}
#button {
  font-size: 20px;
  color: white;
  font-weight: normal;
  background-color: rgb(71, 110, 194);
  border-radius: 5px;
  padding: 8px;
  border-style: none;
}
#input {
  width: 75%;
  padding : 8px;
}
h2{
  font-weight: lighter;
}
p {
  font-weight: 400;
  padding-left: 10px;
  margin: 0%;
  font-size: 15px;
}
.answer {
  border-left: 6px solid  lightgray;
  background-color: rgba(255,255,180, 0.4);
  padding: 20px;
  margin: 1.5em 0;
}
